PRIMARY_DATABASE_URL=postgres://@127.0.0.1:5432/smart_trader_development
OAUTH_GOOGLE_CLIENT_ID=your_google_client_id
OAUTH_GOOGLE_CLIENT_SECRET=your_google_client_secret
ANTHROPIC_API_BASE=ANTHROPIC_API_BASE
ANTHROPIC_API_KEY=ANTHROPIC_API_KEY
REDIS_URL=redis://localhost:6379/0
BIGMODEL_API_KEY=BIGMODEL_API_KEY
COINGECKO_API_KEY=your_coingecko_api_key